*{box-sizing:border-box;


}

.col-1{
    width: 8.33%;
}

.col-2{
    width: 16.66%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.33%;
}
.col-5{
    width: 41.66%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.33%;
}
.col-8{
    width: 66.66%;
}
.col-9{
    width: 75%;
}
.col-10{
    width: 83.33%;
}
.col-11{
    width: 91.66%;
}
.col-12{
    width: 100%;
    

}
.col-12 h2{
    text-align: center;
    text-decoration-color: all;
    color: blue;
}

.wrapper{

    width: 100%;
    height: auto;
    margin: 0 auto;
    
    

}
[class*='col-']{
    float: left;
    /*border:2px double;*/
    
    
}

.row:after{
    content: ' ';
    clear: both;
    display: block;
    
}



.header-height{
    height: 200px;
    background-color: gray;
}
.header{
    height: 300px;
    background-color: gray;
}
.menu-height{
    height: auto;
   background-color: #454545;
    

}
.menu-height h2 h3{
    font-family: serif;
    
     
}
.content-height{
    height: 580px;
}
.big-footer-height{
    height: auto;
}
.middle-height{
    height: auto;
}

.middle-height2{
    height:auto;
}
.footer-height{
    height:auto;
}

.main-ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    height: auto;
  

}
/*navBar*/
.main-ul li{
    float:left;
    min-width: 120px;
    width: 10%;
    text-transform:uppercase;
    border: 0.5px solid gray;
     position:relative;
}
.main-ul li a{

    display: block;
    text-decoration: none;
    height: 47px;
    padding-top: 15px;
    text-align: center;
    background-color:black;
    color: blue;
    transition:1s;
transform:scale(1);
}
.main-ul li a:hover{
         transform:scale(1.5);
     background-color:#00FF00;
     color: blue;
}
.test-1{
    background-color: pink;
    padding:1.7%;
    border:double;
    
}
.catagory{
 width: 33.33%;
    float: left;

}
.catagory ul{
   
   display: block;
     text-decoration: none;
   text-align: center;
}
.catagory li{
   
   display: block;
     text-decoration: none;
   text-align: center;
}

.dif{
    width: 33.33%;
    float: left;
}
.dif p{
    padding-left: 20px;
}
.test-2{
     background-color:pink;
    padding:1.7%;
    border:double;
}
.test-3{
     background-color: gray;
    
}

.test-4{
    height: auto;
}
.test-5{
    background-color:#FF00FF;
    padding:1.7%;
    border:double;
}
.test-6{
    width: 33.33%;
    height:200px;

}
.sigTest{
  height: 400px;
}

.test-6 h4{
    display: block;
    text-decoration: none;
   text-align: center;
   padding-right: 40px;
   color: black;
   white-space: nowrap;
   overflow: auto;
  text-overflow: ellipsis; 

}
.test-6{
  background-color: grey;
}
.test-6 li{
    display: block;
     text-decoration: none;
   text-align: center;
    color: black;
    white-space: nowrap;
    overflow: auto;
  text-overflow: ellipsis; 
}
.test-6 a{
    display: block;
     text-decoration: none;
   text-align: center;
    color: black;
    padding-right: 45px;
}
.menu-1{
    background:#17202A;
}
/*Seach function*/
.search_box{
    float:left;
    border: 1px solid black;
    position:relative;
    
    height: 47px;
    
}
.row h2{
  color: #11F804;
}
.fa{
  
  text-align: center;
  
   white-space: nowrap; 
 
     overflow:auto;  

  text-overflow: ellipsis; 
}
.fa-facebook {
    float: left;
  background: #3B5998;
  color: white;
  }

.fa-twitter {
    float: left;
  background: #55ACEE;
  color: white;
}
.fa-google {
    float: left;
  background: #dd4b39;
  color: white;
}
/*login And signUp*/
.logIn{
  margin: 0;
  padding: 0;
  background: url(back.jpg);
  background-size: cover;
  
  background-position: center;
  font-family: sans-serif;
}
.loginbox{
  width: 30%;
  height: auto;
  background: #000;
  color:#fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  padding: 70px 30px; 
}
.avatar{
  width: 30%;
  height: auto;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: 30%;
}
.loginbox h1{
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;

}
.loginbox p{
  margin: 0;
  padding: 0;
  font-weight: bold;
}
.loginbox input{
  width: 100%;
  margin-bottom: 40px;

}
.loginbox input[type="text"], input[type="password"]{
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color:#fff;
  font-size: 16px;
  font-size: 16px;
}
.loginbox input[type="submit"]{
  border: none;
  outline: none;
  height: 40px;
  background: #fb2525;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}
.loginbox input[type="submit"]:hover
{
   cursor: pointer;
   background: #ffc107;
   color: #000;
}
.loginbox a{
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;

}
.loginbox a:hover{
  color: #ffc107;
}




.signUp{
  margin: 0;
  padding: 0;
  background: url(back.jpg);
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
}
.loginbox2{
  width: 30%;
  height: auto;
  background: #000;
  color:#fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  padding: 70px 30px; 
}
.avatar2{
  width: 30%;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: 30%;
}
.loginbox h1{
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;

}
.loginbox2 p{
  margin: 0;
  padding: 0;
  font-weight: bold;
}
.loginbox2 input{
  width: 100%;
  margin-bottom: 20px;

}
.loginbox2 input[type="text"], input[type="password"]{
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 20px;
  color:#fff;
  font-size: 16px;
  font-size: 16px;
}
.loginbox2 input[type="submit"]{
  border: none;
  outline: none;
  height: 40px;
  background: #fb2525;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}
.loginbox2 input[type="submit"]:hover
{
   cursor: pointer;
   background: #ffc107;
   color: #000;
}
.loginbox2 a{
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;

}
.loginbox2 a:hover{
  color: #ffc107;
}
.button {
  background-color:#04B4AE;
  border: none;
  color: white;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin:0;
  cursor: pointer;
}
.button1 {
  background-color: #00FF00;
  border: none;
  color: white;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin:0;
  cursor: pointer;
}

@media only screen and (max-width: 1160px) {
  
  .button {
  background-color:#04B4AE;
  border: none;
  color: white;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  float: left;
  font-size: 16px;
  margin:0;
  cursor: pointer;
  max-width: 100%;
}
.button1 {
  background-color: #00FF00;
  border: none;
  color: white;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  float: left;
  font-size: 16px;
  margin:0;
  cursor: pointer;
  max-width: 100%;
}
.text{
  font-size: 10px;
}
.test-1 img{
  max-width: 100%;
}
.test-2 img{
  max-width: 100%;
}


.test-6{
  max-width: 100%;
  
}
.test-3{
  max-width: 100%;
  
}
.logo img{
  max-width: 100%;
  font-size: fixed;
}
}
/*table*/
.tblone {
  border: 1px solid #fff;
  margin-bottom: 12px;
  width: 100%;
}
.tblone th {
  background: #666 none repeat scroll 0 0;
  color: #fff;
  font-size: 20px;
  padding: 5px 8px;
  text-align: center;
}
.tblone td{padding:10px;text-align:center;}
.shopping {
  margin-top: 30px;
}
.shopleft{
  float: left;
  text-align: center;
  width: 610px;
}
.shopleft img{
  outline:none
}
.shopleft a,.shopright a{outline:none}

.shopright img {
  width: 270px;
  outline:none
}
/*@media only screen and (max-width: 628px) {
  
  .test-6 h4{
     font-size: 8px;
  }
   .test-6 li{
     font-size: 8px;
  }
  }
  @media only screen and (max-width: 384px) {
  
  .main-ul li{
    float: inline-block;
  }
  .fa{
    font-size: 6px;
  }
  .test-6 h4{
     font-size: 8px;
  }
   .test-6 li{
     font-size: 8px;
  }
  .button {
  background-color:#04B4AE;
  border: none;
  color: white;
  padding: 2px 6px;
  text-align: center;
  text-decoration: none;
  float: left;
  font-size: 8px;
  margin:0;
  cursor: pointer;
  max-width: 100%;
}
.button1 {
  background-color: #00FF00;
  border: none;
  color: white;
  padding: 2px 6px;
  text-align: center;
  text-decoration: none;
  float: left;
  font-size: 8px;
  margin:0;
  cursor: pointer;
  max-width: 100%;
}
.text{
  font-size: 8px;
}
.test-1 img{
  max-width: 50%;
}
.test-2 img{
  max-width: 50%;
}
  }
  */
  @media only screen and (max-width: 300px) {
  
  .main-ul li{
    float:left;
    min-width: 170px;
    width: 100%;
    text-transform:uppercase;
    border: 0.5px solid gray;
     position:relative;
}

}
.test-1 img{
  padding-left: 35px;
}
.test-2 img{
  padding-left: 35px;
}


.test-1 h3{
    font-size: 16px;
    padding-left: 35px;
  }
  .test-1 h4{
    font-size: 16px;
    padding-left: 35px;
  }
  .test-2 h3{
    font-size: 16px;
     padding-left: 35px;
  }
  .test-2 h4{
    font-size: 16px;
     padding-left: 35px;
  }
@media only screen and (min-width: 150px) and (max-width: 360px) {
 [class*='col-']{
    width: 100%;
    
    
}
.test-6 h4{
     font-size: 16px;
  }
   .test-6 li{
     font-size: 16px;
  }
  .test-1 h3{
    font-size: 20px;
  }
  .test-1 h4{
    font-size: 20px;
  }
  .test-2 h3{
    font-size: 20px;
  }
  .test-2 h4{
    font-size: 20px;
  }

  }

  @media only screen and (min-width: 361px) and (max-width: 721px) {
   .test-1{
    width: 50%;
    
    
}
.test-2{
    width: 50%;
    
    
}
.test-3{
    width: 50%;
    
    
}
.test-1 h3{
    font-size: 20px;
  }
  .test-1 h4{
    font-size: 20px;
  }
  .test-2 h3{
    font-size: 20px;
  }
  .test-2 h4{
    font-size: 20px;
  }

  .test-6 h4{
     font-size: 8px;
  }
   .test-6 li{
     font-size: 8px;
  }

      
  }